.button {
    width: 160px;
    height: 45px;
    background-color: $main-color;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    &:hover {
        background-color: #e93b3b;
    }
    &_big {
        display: block;
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: 700;
        margin: 39px auto;
    }
    &_small {
        margin-top: 25px;
    }
    &_submit {
        width: 180px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 237px;
        box-shadow: 0 0 0 10px rgba(255,255,255, 1);
        &_nb {
            box-shadow: none;
            top: 225px;
        }
    }
}