.button {
    width: 160px;
    height: 45px;
    background-color: $main-color;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    &_big {
        display: block;
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: 700;
        margin: 39px auto;
    }
}