.contacts {
    position: relative;
    height: 500px;
    &__info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        transform: translateY(-50%);
        width: 329px;
        height: 158px;
        padding: 27px 53px 28px 49px;
        z-index: 1000;
        background-color: #fff;
    }
    &__addr, &__phone {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        color: #3a3a3a;
        span {
            color: $main-color;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
        }
    }
    address {
        margin: 0;
    }
    &__email {
        display: block;
        color: $main-color;
        font-weight: 300;
        text-decoration: underline;
    }
}