.title {
    color: #2e2e2e;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    &_white {
        color: #ffffff;
        margin-top: 20px;
        text-transform: none;
    }
    &_black {
        color: #3a3a3a;
        margin-top: 56px;
        text-transform: none;
    }
}